@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootswatch/dist/slate/bootstrap.min.css';

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.grid-item {
  width: 200px;
  height: 200px; 
  object-fit: cover;
}

.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


input {
  border-radius: 8px;
}

.modal-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 7.5%; 
  height: 800px;
  width: 800px;
  z-index: 1;
  top: 0;
  background-color: white; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.modal-image {
  object-fit: cover;
  margin-left: 7.5%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 85%;
  width: 85%;
}
.photo-info {
  display: flex;
  margin-left: 7.5%;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
.close-btn {
  height: 36px;
  background-color: #4CAF50;
  color: rgba(255, 255, 255, 0.667);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #45a049;
}
.image-upload-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add styles for the submit button */
.image-upload-form button {
  background-color: #4CAF50; /* Change to your desired color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.image-upload-form button:hover {
  background-color: #45a049; /* Change to your desired hover color */
}